extends layout

block content
  div(class='container')
    div(class="row")
      h1(class='text-center') Fergeteges kocsmatúra...
    div(class="row")
      p(class='text-center lead') Laudetur! Kedves Zsófi, reméljük felkészültél testben és lélekben a következő programra, amiben meglátogatjuk a helyeket, ahol gimis korod nagyrészét töltötted (nem egyszer órák helyett :) ).
    div(class="row")
      div(class='text-center')
        a(class='btn btn-default', href='/kocsma1') Kezdődjön a játék, sírjon a májam!
