extends layout

block content
  div(class='container')
    div(class="row")
      h1(class='text-center') Mulatós
    div(class="row")
      p(class='text-center') Az utolsó helyszín előtti feladat elénekelni a következő számokat (segítséget persze kérhetsz tőlünk):

    div(class="row text-center")
      h4 Tankcsapda - Egyszerű dal
      audio(loop='loop' controls='controls')
        source(src='/music/Tankcsapda_Egyszeru_dal.mp3' type='audio/mpeg')
      p(class='small') Néha úgy hiányzik a marihuána, mint a hercegnőnek a Don Juan, ha az erkélyről a szemébe néz, vonzza, mint méhet a méz. Meg az a srác, akit már te is láttál, és tudtam jól, utálja magát, de mégse hittem volna, hogy a végén előveszi a pisztolyát. Ez csak egy egyszerű dal, semmit nem akar, néha ilyen is kell. Ez csak egy egyszerű dal, semmit nem akar, de ennél többet nem árulhatok el. Valami szomorú dallam hangjai halkan kísértenek éjszakákon át. Velem vannak és együtt dúdolgatjuk a halál dalát. Hogy ez a szerelem nekem nem a május. Én örülök, ha valahogy túlélem. A szerelem csak egy rohadt mágus, ha elkapom, úgyis kiherélem. Ez csak egy egyszerű dal...     Repülőgépek, óceánok, a füvek, a fák, a mezők, a virágok, a különös álmok, amiket látok, ha egyszer éjjel hiába vártok. Ez egy egyszerű dal...

    div(class="row text-center")
      h4 Nótár Mary - Nád a házam teteje
      audio(loop='loop' controls='controls')
        source(src='/music/Notar_Mary_Nad_a_hazam_teteje.mp3' type='audio/mpeg')
      p(class='small') Nád a házam teteje, teteje, rászállott a cinege, cinege. Hess le róla cinege , cinege, leszakad a teteje, teteje. Ha leszakad mi lesz véle? Sárga lábú cinege, cinege, Hess le róla cinege, cinege, leszakad a teteje, teteje.

    div(class="row top-buffer")
      div(class='text-center')
        a(href=nextRoute, class='btn btn-large btn-default' style=successStyle) Indulás a Rocktogonba, énekeltünk eleget!