extends layout

block content
  div(class='container')
    div(class="row")
      h1(class='text-center') Mulatós
    div(class="row")
      p(class='text-center') Az utolsó helyszín előtti feladat elénekelni a következő számokat (segítséget persze kérhetsz tőlünk):
    div(class="row text-center")
      h4 100 forintnak 50 a fele
      audio(loop='loop' controls='controls')
        source(src='/music/szaz_forintnak.mp3' type='audio/mpeg')
      p(class='small') 100 forintnak 50 a fele, egye meg a fészkes fekete fene. Nem lehet az ember fából, ki kell rúgni a hámfából. Szomjas vagyok, már alig látok, az élettől nem sokat várok. Lefeküdnék, de nem tudom, hova, hívogat megint, vonz a kocsma. Száraz a torkom, porzik a vesém, tovább nem tarthatna a mesém. Gyere ide haver, most csapjál bele, 100 forintnak 50 a fele. 100 forintnak 50 a fele, egye meg a fészkes fekete fene. Nem lehet az ember fából, ki kell rúgni a hámfából. Még azt mondják, részeges vagyok, pedig csak a jó bort szeretem nagyon. Megverem a csizmám szárát, csókolom a babám száját. Éldegélek, mint a hal a vízben, laktam én az Ó utca 10-ben. Szoba-komfortos kényelem, gondoltam egyet, bényelem. Le is csúszott mind a torkomon, hát ezért van az, hogy gondolkodom. Maradt még vagy három agysejtem, hogy mi lesz ebből, már sejtem. A kecskének nagy szakálla van, az én anyósómnak nagy pofája van. Rusnya állat mind a kettő, verje meg a jeges eső!
    div(class="row top-buffer")
      div(class='text-center')
        a(href=nextRoute, class='btn btn-large btn-default' style=successStyle) Indulás a Rocktogonba, énekeltünk eleget!